<%# CENTERING %>
<div class="center-page">
<h1>!!! WARNING !!!</h1>
<h1>THIS IS NOT YOURS!</h1> 
<h1>FURTHER ACTIONS COULD</h1>
<h1>INCUR THE WRATH OF MR MCGIBBLETS!!!</h1><br>

<img src="/gifs/mr_mcgibblets_cleaver.gif" alt="mr mcgibblets with cleaver"><br><br>

</div>