<h1>ADOPT A TEAM!</h1>

<form method="POST" action="/teams">
    <h2>Select a Team!</h2>
    <% @available_teams.each do |team| %>
        <label><input type="checkbox" name="<%= team.id %>">  <%= team.name %></label><br>
    <% end %><br>
    
    <label>Location: <input type="text" name="location"></label><br><br>
    <label>Slogan: <input type="text" name="slogan"></label><br><br>

    <input type="submit" name="button" value="Submit"><br><br>

</form><br><br>

<h2> -- OR -- </h2><br><br>
<h2>CREATE A WHOLE NEW TEAM:</h2>
<form method="POST" action="/teams">
    
    <label>Name: <input type="text" name="name"></label><br><br>
    <label>Location: <input type="text" name="location"></label><br><br>
    <label>Slogan: <input type="text" name="slogan"></label><br><br>
    <label>Logo: <input type="text" name="logo_url"></label><br><br>

    <input type="submit" name="button" value="Create New"><br><br>

</form><br>