<h2>CREATE A WHOLE NEW TEAM:</h2>

<form method="POST" action="/teams/new_from_scratch">
    <table>
        <tr><td>Name: </td>  <td><input type="text" name="name"></td></tr>
        <tr><td>Location: </td>  <td><input type="text" name="location"></td></tr>
        <tr><td>Slogan: </td>  <td><input type="text" name="slogan"></td></tr>
        <tr><td>Logo: </td>  <td><input type="text" name="logo_url"></td></tr>
    </table><br>

    <input type="submit" value="Create New"><br><br>

</form><br>
