<h1>LOGIN PAGE</h1>

<form method='POST' action='/login'>
    <label>Username: </label>
    <input type="text" name="username"><br><br>
    <label>Password: </label>
    <input type="password" name="password"><br><br>
    <input type="submit" value="Log In">
</form>

<h2>Welcome back, let's get this party going!</h2>
<img src="/gifs/mr_mcgibblets.gif" alt="mr_mcgibblets dancing">
<br><br>

<h3>If you don't have a profile yet, sign up here:  <a href="/signup"><button>Signup</button></a></h3>

<br><br>