<h1>LOGIN PAGE</h1>

<form method='POST' action='/login'>
    <label>Username: </label>
    <input type="text" name="username"><br><br>
    <label>Password: </label>
    <input type="password" name="password"><br><br>
    <input type="submit">
</form>

<h2>Welcome back, let's get this party going!</h2>
<img src="/gifs/mr_mcgibblets.gif" alt="mr_mcgibblets dancing">