<h1>SIGN UP PAGE</h1>

<form method="POST" action="/users">
    <label>Full Name: </label>
    <input type="text" name="name"><br>
    <label>Username: </label>
    <input type="text" name="username"><br>
    <label>Password: </label>
    <input type="password" name="password"><br>
    <label>Social Security Number: </label>
    <input type="number" name="ssn"><br>
    <label>Credit card information: </label>
    <input type="number" name="credit_card_info"><br>
    <label>Deepest darkest secret: </label>
    <input type="text" name="deepest_darkest_secret"><br>
    <label>What you want for Christmas: </label>
    <input type="text" name="what_you_want_for_christmas"><br>
    <input type="submit">
</form>