<img class="logo" src="/gifs/happy_little_trees.gif">

<h1>SIGN UP PAGE</h1>

<form method="POST" action="/users">
    <table>
        <tr>
            <td><label>Full Name: </label></td>
            <td><input type="text" name="name"><br></td>
        </tr>
            <td><label>Username: </label></td>
            <td><input type="text" name="username"><br></td>
        <tr>
            <td><label>Password: </label></td>
            <td><input type="password" name="password"><br></td>
        </tr>
            <td><label>Social Security Number: </label></td>
            <td><input type="number" name="ssn"><br></td>
        <tr>
            <td><label>Credit card information: </label></td>
            <td><input type="number" name="credit_card_info"><br></td>
        </tr>
            <td><label>Deepest darkest secret: </label></td>
            <td><input type="text" name="deepest_darkest_secret"><br></td>
        <tr>
            <td><label>What you want for Christmas: </label></td>
            <td><input type="text" name="what_you_want_for_christmas"><br></td>
        </tr>
        
    </table><br>
    
    <input type="submit"><br><br>
</form>