<h1>ARE YOU SURE???</h1>

<form method="POST" action="/users/<%= @user.id %>">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Yes. This is a ridiculous place, and I would very much like to leave and be done with you."><br><br>
</form>