<h1>ALL PLAYERS</h1>

<table>
    <strong><tr><th class="table-header">Position</th><th>Full Name</th><th>School</th></tr></strong>
    <% @players.each do |player| %>
    <tr>
        <td> <%= player.position %></td>
        <td> <%= player.name %></td>
        <td> <%= player.school %></td>
    </tr>
    <% end %>
</table><br>

<h3><a href="https://www.youtube.com/watch?v=gRhB2Oiy0Nc">Meet the players!</a></h3><br><br>

