<h1>PLAYERS</h1>

<table>
    <tr><th>Name:</th><th>School:</th></tr>
    <% @players.each do |player| %>
        <tr><%= @player.name %></tr>
        <tr><%= @player.school %></tr>
    <% end %>
</table>

<a href="https://www.youtube.com/watch?v=gRhB2Oiy0Nc"><h3>Meet the players!</h3></a><br><br>