<h1>CREATE A NEW PLAYER:</h1>

<form method="POST" action="/players">
    <label>Name: </label>
    <input type="text" name="name"><br><br>
    <label>School: </label>
    <input type="text" name="school"><br><br>
    <label>Position: </label>
    <select name="position">
        <option value=" ">Select a position</option>
        <option value="QB">Quarterback</option>
        <option value="RB">Running Back</option>
        <option value="WR">Wide Receiver</option>
        <option value="K">Kicker</option>
    </select><br><br>

    <input type="submit"><br><br>
</form>

