<%# ADD LOGIC TO CHANGE LOGIN PAGE TO PROFILE PAGE IF ALREADY LOGGED IN %>

<header id="landing_page_title">
    <div id="left-buttons">
        <button><a href="/login">Login</a></button>
        <br>-----------<br>
        <button><a href="/signup">Sign Up</a></button>
    </div>

    <h1 id="welcome_header">WELCOME TO THE LEAGUE!!!</h1>
    
    <div id="right-buttons">
        <button class="right"><a href="/teams">League</a></button>
        <br>-----------<br>
        <button class="right"><a href="/players">Players</a></button>
    </div>
</header>
    
    
<div ><img class="center" src="league_photo.jpg" alt="league picture goes here"></div>
